@import url('variables.css');

/* Hero personalização*/
.hero{
    background-image: url("assets\img\imgHero.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 8rem;
    padding-left: 8rem;
}

.hero::before{
    content: '';
    background: linear-gradient(
        to top,
    rgba(0,0,0, 0.1) 5%,
    rgba(0,0,0, 0.04) 100%
    );
    pointer-events: none;

    /*top e left são iguais a 0 */
    inset: 0;

    position: absolute;
    z-index: 0;
}


/* Header personalização*/

header{
    position: absolute;

    z-index: 10;
    padding: 4rem 8rem;
    
    width: fit-content;
}
/* Início e Sobre nós*/
.navigation .text{
    color: var(--white);
}
.navigation a{
    text-decoration: none;

}
.navigation{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
}
/* Caixa de pesquisa personalização*/
.Pesquisa{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}
.caixaPesquisa{
    background-color:rgba(88,109,98,0.6);
    border-radius: 0.8rem;
    width: 18rem;
    height: 2rem;
    border: none;
    padding-left: 2.6rem;
    color: var(--white);
    font-size: 1rem;
}
.Pesquisa:focus{
    outline: 0.1rem var(--white);
}

.lupa{
    position: absolute;
    z-index: 1;
    top: 0.4rem;
    left: 1rem;
}

/* Botões personalização*/
.buttonsHeader{
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    width: fit-content;
}
.buttonCadastrar .text{
    color: var(--white)
}
.buttonCadastrar{
    cursor: pointer;
    display: flex;
    background-color: var(--orange);
    border: none;
    border-radius: 0.6rem;
    gap: 0.6rem;
    padding: 0.4rem 0.6rem;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    transition: box-shadow 0.2s, transform 0.2s;
}

.buttonCadastrar:hover{
    box-shadow: 0.01rem 0.3rem 0 rgba(0,0,0,0.2);
    transform: translateY(0.1rem);
    background-color: var(--dark-orange);
}

.buttonEntrar{
    cursor: pointer;
    display: flex;
    background-color: var(--white);
    border: none;
    border-radius: 0.6rem;
    gap: 0.6rem;
    padding: 0.4rem 1.2rem;
    align-items: center;
    justify-content: center;
}

/* Logo personalização*/
.logo .littleTittle{
    color: var(--white);
}
.logo{
    display: flex;
    flex-direction: row;
}
.buttonSaiba{
    position: relative;
    z-index: 20;
}
.divisor{
    position: relative;
    width: 0.05rem;
    height: 1.8rem;
    background-color: var(--white);
    z-index: -1;
}

.header-container{
display:flex;
flex-direction: row;
align-items: center;
gap: 1.5rem;
padding: 0.7rem 0.9rem;

background-color: rgba(0, 0, 0, 0.45);
border-radius: 1rem;
}

/*Frase do Hero*/
/*Ao diminuir muito a tela, o Um chega a barra de pesquisa, se resolve com media*/
.destaqueHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}

.fraseHero{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    width: fit-content;
}
.fraseHero .subTittle{
    color: var(--white);
    text-align: center;
    line-height: 1.4;
}
.fraseHero .bigText{
    color: var(--white);
    text-align: center;
    line-height: 1;
}
.buttonSaiba{
    position: relative;
    z-index: 10;

    overflow: hidden;

    background-color: var(--orange);
    border: none;
    cursor: pointer;

    display: flex;
    border-radius: 0.6rem;
    gap: 0.6rem;
    padding: 0.8rem 2rem;
    align-items: center;

    transition: background-color 0.2s;
    transition: box-shadow 0.2s, transform 0.2s;
}
.buttonSaiba .littleTittle{
    color: var(--white);
}
.buttonSaiba:hover{
    box-shadow: 0.01rem 0.3rem 0 rgba(0,0,0,0.2);
    transform: translateY(0.1rem);
    background-color: var(--dark-orange);
}

/*Divisão */
#divisaoArco{
    fill: var(--beige);
    width: 100%;
    height: 15vh;

    bottom: -1px;

    position: absolute;
    left: 0;
    z-index: 10;
    /*Colocar o arco*/

} 
#secao1{
    margin: 0 8rem 0 8rem;
}
/*Carrossel seção 1*/
.carrosselS1{
    margin: 8;
    display: flex;
    gap: 5rem;

    overflow-x: auto;
}

#secao1 .bigText{
    text-align: center;
    padding: 0 0 2rem 0;
}