@import "variables.css";
@import "style.css";

header {
    background-color: var(--orange);
    color: var(--white);
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    padding-top: 2.375rem;
    padding-left: 3rem;
}

.FundoLaranja {
    background-color: var(--orange);
    width: 100vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.FundoBranco {
    background-color: var(--white);
    opacity: 75%;
    align-items: center;
    display: flex;
}

.TelaDoLogin {
    background-color: var(--white);
    width: 42rem;
    height: 678px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray);
    border-radius: 10px;
    z-index: 2;
}
